db.sqlite3
shop_lytics/settings/dev.py
/frontend
# PROJECT_STATUS.md
# Xeno FDE Internship Assignment – 2025.pdf

__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
env/
.venv/

*.env
.env*
local_settings.py

*.log
*.sqlite3

.DS_Store
Thumbs.db
